:root {
  --primary-color: #f5f5f5;
  --second-color: #228a64;
  --tertiary-color: #ffffff;
  --bg-toogle: #111111;
}

.dark:root {
  --primary-color: #878787;
  --second-color: #111111;
  --tertiary-color: #55a381;
  --bg-toogle: #228a64;
}

a,
a:hover {
  color: inherit;
}

a:hover {
  text-decoration: none;
}

.bg-primary-color {
  background: var(--primary-color);
}

.bg-second-color {
  background: var(--second-color);
}

.text-second-color {
  color: var(--second-color);
}

.text-third-color {
  color: var(--tertiary-color);
}

.container-fluid-max {
  max-width: 1440px;
}

.cover {
  background: no-repeat center/cover;
}

.p-15 {
  padding: 15px;
}

.btn {
  background: var(--second-color);
  color: var(--primary-color);
}

.btn:hover {
  background: var(--second-color);
  color: var(--primary-color);
}

/* SCROLL ANIMATIONS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.scroll .page-header {
  background: var(--second-color);
}

.scroll .hero {
  transform: scale(0.98);
}

/* HEADER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.login-header {
  background: var(--second-color);
}

.page-header {
  transition: background 0.5s ease-in-out;
}

.page-header .navbar {
  padding: 1rem 0;
}

.page-header .navbar-toggler {
  border-color: var(--white);
}

/* THEME
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: var(--bg-toogle);
  border-radius: 50px;
  cursor: pointer;
  padding: 5px;
  position: relative;
}

.label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  left: -2px;
  height: 18px;
  width: 18px;
  transform: translateX(5px);
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
  padding-left: 1px;
}

/* BANNER SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.hero {
  background-attachment: fixed;
  transition: transform 0.5s ease-in-out;
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    rgba(0, 0, 0, 0.5) 0,
    rgba(0, 0, 0, 0.3) 50%,
    rgba(0, 0, 0, 0.1) 100%
  );
}

.hero .container-fluid {
  z-index: 10;
}

/* DESTINATIONS SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.popular-destinations figure {
  margin-bottom: 30px;
}

.popular-destinations figcaption {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
}

.popular-destinations img {
  filter: grayscale(100%) blur(3px);
  transition: transform 0.5s, filter 0.75s;
}

.popular-destinations a:hover img {
  transform: scale(1.25);
  filter: none;
}

/* PAGE FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-footer .footer-links {
  text-align: right;
}

/* MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* MEDIUM SCREENS */
@media screen and (max-width: 991px) {
  .page-header {
    background: var(--second-color);
  }
}

/* SMALL SCREENS */
@media screen and (max-width: 767px) {
  .page-footer .footer-child {
    text-align: center;
  }
}
