:root {
  --primary: #FFBA49;
  --secondy: #F5F5F5;
  --thirdy: #d95d39;
  --fourth: #111111; 
  --sixth:  #FFBA49; 
}

.dark:root {
  --primary: #272525;
  --secondy: #474747;   
  --thirdy: #e6b31a;
  --fourth: #F5F5F5;
  --sixth: #F5F5F5; 
}

a,
a:hover {
  color: inherit;
}

a:hover {
  text-decoration: none;
}

.bg-body {
  background: var(--secondy);
}

.primary-color {
  background: var(--primary);
}

.text-primary-color {
  color: var(--sixth);
  font-weight: bold;
}

.text-second-color {
  color: var(--fourth);  
}

.text-third-color {
  color: var(--secondy);
}

.container-fluid-max {
  max-width: 1440px;
}

.cover {
  background: no-repeat center/cover;
}

.p-15 {
  padding: 15px;
}

.btn {
  background: var(--thirdy);
  color: var(--secondy);
  font-weight: bold;
}

.btn:hover {
  background: var(--thirdy);
  color: var(--secondy);
}

/* SCROLL ANIMATIONS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.scroll .page-header {
  background: var(--primary);
}

.scroll .hero {
  transform: scale(0.98);
}

/* HEADER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.login-header {
  background: var(--primary);
}

.bg-header {
  color: var(--fourth);
  font-weight: bold;

}

.page-header {
  transition: background 0.5s ease-in-out;  
}

.page-header .navbar {
  padding: 1rem 0;
}

.page-header .navbar-toggler {
  border-color: var(--white);
}

/* THEME
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: var(--thirdy);
  border-radius: 50px;
  cursor: pointer;
  padding: 5px;
  position: relative;
}

.label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  left: -2px;
  height: 18px;
  width: 18px;
  transform: translateX(5px);
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.fa-moon {
  color: #474747;
}

.fa-sun {
  color: #FFBA49;
  padding-left: 1px;
}

/* BANNER SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.hero {
  background-attachment: fixed;
  transition: transform 0.5s ease-in-out;
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    rgba(0, 0, 0, 0.5) 0,
    rgba(0, 0, 0, 0.3) 50%,
    rgba(0, 0, 0, 0.1) 100%
  );
}

.hero .container-fluid {
  z-index: 10;
}

/* DESTINATIONS SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.popular-destinations figure {
  margin-bottom: 30px;
}

.popular-destinations figcaption {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
}

.popular-destinations img {
  filter: grayscale(100%) blur(3px);
  transition: transform 0.5s, filter 0.75s;
}

.popular-destinations a:hover img {
  transform: scale(1.25);
  filter: none;
}

/* PAGE FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-footer .footer-links {
  text-align: right;
  font-size: 1.5rem;
}

.core {
  color: var(--thirdy);
  font-weight: bold;
}

/* MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* MEDIUM SCREENS */
@media screen and (max-width: 991px) {
  .page-header {
    background: var(--primary);
  }
}

/* SMALL SCREENS */
@media screen and (max-width: 767px) {
  .hero::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(
      rgba(0, 0, 0, 0.85) 0,
      rgba(0, 0, 0, 0.472) 50%,
      rgba(0, 0, 0, 0.508) 100%
    );
  }

  .text-second-color {
    color: #FFFFFF;  
  }

  .btn-mobile {
    margin-bottom: 1rem;
  }

  .page-footer .footer-child {
    text-align: center;
  }
}
